
button {
    border: none;
    color: white;
    border-radius: 10px;
    text-transform: uppercase;
    font-weight: 900;
    font-style: 1.2em;
    letter-spacing: 0.2em;
    position: relative;
    z-index: 1;
    cursor: url(../assets/hand-cursor.png), pointer;
    background: none;
    margin-top: 20px;
    width: 247px;
    height: 50px;
    font-size: 12px;
    text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff, 0 0 42px #bc13fe, 0 0 82px #bc13fe, 0 0 92px #bc13fe, 0 0 102px #bc13fe, 0 0 151px #bc13fe;
    box-shadow: 0 0 0.2rem #fff, 0 0 0.2rem #fff, 0 0 2rem #bc13fe, 0 0 0.8rem #bc13fe, 0 0 2.8rem #bc13fe, inset 0 0 1.3rem #bc13fe;
  }
  button:hover {
    /* width: 115%; */
    font-size: 13px;
    width: 250px;
    /* height: 115%; */
  }
 
