@keyframes opacityChange {
    50% {
        opacity:.5;
    }
    100% {
        opacity: 1;
    }
}
@keyframes rotate {
	100% {
		transform: rotate(1turn);
	}
}

.heros {
    width: 95%;
    margin: 100px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero {
    font-size: 15px;
    color: white;
    
    text-align: center;
    text-shadow: 0 0 5px white, 0 0 10px #00FFFF, 0 0 15px #7FFF00, 0 0 20px white;
    background-color: #000;
    &:hover{
        opacity: 1;
        font-weight: bold;
    }

    div{ 
        border-radius: 15px;
        --borderWidth: 12px;
        --bRadius: 10px;
        // width: 60%;
        // height: 60%;
        position: relative;
        z-index: 0;
        overflow: hidden;
        padding: 2rem;
        z-index: 0;
        border-radius: --bRadius;
        &::after, &::before {
            box-sizing: border-box;
        }
        &::before {
            content: '';
            position: absolute;
            z-index: -2;
            left: -50%;
            top: -50%;
            width: 200%;
            height: 200%;
            background-color: #1a232a;
            background-repeat: no-repeat;
            background-position: 0 0;
            background-image: conic-gradient(transparent, rgba(168, 239, 255, 1), transparent 30%);
            animation: rotate 4s linear infinite;
        }
	
        &::after {
            content: '';
            position: absolute;
            z-index: -1;
            left: calc(var(--borderWidth) / 2);
            top: calc(var(--borderWidth) / 2);
            width: calc(100% - var(--borderWidth));
            height: calc(100% - var(--borderWidth));
            background: #000;
            border-radius: 5px;
        
            // animation: opacityChange 5s infinite linear;
        }

      
        
    }
}



.hero:nth-child(9) div::after {
    animation: opacityChange 5s infinite linear;
}

.hero-cur{
    opacity: 1;
    font-size: 20px;
    font-weight: bold;
    div{
        &::before {
            background-image: conic-gradient(transparent, rgb(247, 255, 0), transparent 30%);
          }
    }
    
}


